@model IEnumerable<restaurant_web_app.Models.Menu>

@{
    ViewData["Title"] = "Menu's";
    Layout = "_Layout_Admin";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Krijo Menu</a>
</p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulli)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.nrMenu)
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
        <div class="container">
            <div class="row" style="padding-bottom: 20px">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@item.nrMenu</h5>
                                <p class="card-text">@item.titulli</p>
                                <a class="btn btn-primary" asp-action="Index" asp-controller="Item">Me Shume</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrMenu)
            </td>
                <td>
                    <a class="btn btn-primary" asp-action="Index" asp-controller="Item">Me Shume</a>
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.nrMenu  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.nrMenu }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.nrMenu  })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
